@font-face {
  font-family: myFirstFont;
  src: url('./KGMissKindergarten.ttf');
}
#root{

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body, html {
  height: 100%;
  color:white;
  font-family: myFirstFont !important;
}
.card-apunte{
  min-height: 300px;
  width: 400px;
}
.relative{
  position: absolute;
  right: 0;
}